<!DOCTYPE html>
<%- include ('../partials/head'); %>

<body class="container">
    <%- include ('../partials/header', {page: 'About Me'}); %>

    <main class="jumbotron text-center display-4 lead my-4 btn btn-lg jumbotron-fluid">
        <h1>Sobre Mim</h1>
        <p>Olá, meu nome é Shelldon Ryan, e sou graduando em Ciência da Computação, aqui estou estudando EJS + NodeJS</p>
    </main>

    <%- include ('../partials/footer'); %>
</body>
</html>