* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, button, input {
    font-size: 18px;
    font-family: 'Bebas Neue', sans-serif;

    -webkit-font-smoothing: antialiased;

    background: #afafaf;
}