* {
    margin: 0;
}

header, main {
    padding: 16px;
    height: 1000px;
    border: 7px dashed whitesmoke;
    background-color: rgb(55, 100, 200);
    background-image: url(./40.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: local;
    background-position: center;
    background-origin: content-box;
    background-clip: border-box;
    background-attachment: local;
}
